<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Welcome to NYU Abu Dhabi</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/base.css">
    <script src="//use.edgefonts.net/lato.js"></script>
	<script src="../assets/js/scripts.js"></script>
</head>


<body>
<header role="banner">
<!-- main navigation goes here -->
	<div class="mynav">
		<div class="logo">
			<img src="../../assets/img/nyulogo.png" alt="">
		</div>
		<div class="navmenu">
            <ul id="nav" class="menu">
				<li><a href="#">Academics</a>
				</li>

				<li><a href="#">Admissions</a>
				</li>

				<li><a href="#">Research</a>
				</li> 

				<li><a href="#">CampusLift</a>
				</li> 

				<li><a href="#">About</a>
				</li> 
            </ul>
		</div>
	</div>
	<div class="headerline"></div>
</header>
<main>
	<div class="leftMenu">
		<ul class="vertical menu">
			<li><h2>Locations</h2></li>
			<li><a href="#">North Americ</a></li>
			<li><a href="#">South Ameerica</a></li>
			<li><a href="#">Europe</a></li>
			<li><a href="#">Africa</a></li>
			<li><a href="#">Asia</a></li>
		</ul>
	</div>
	<div class="rightContent">
		<div class="bread">
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li><a href="#">Academics</a></li>
				<li class="unavailable"><a href="#">Global Education</a></li>
				<li class="current"><a href="#">January Team</a></li>
				<li class="current"><a href="#">Locations</a></li>
				<li class="current"><a href="#">Europe</a></li>
			</ul>
		</div>	
		<div class="adsTitle"> 
			<h2> 3/3/5 Level 1-3-1 Template (H2)</h2>
		</div>
		<div class="row content">
			<div class="small-9 columns">
				<img src="../../assets/img/pic1.jpg" alt="picture">
			</div>
			<div class="small-3 columns">
				<div class="subcontend">
					<p>Getting Started at NYUAD</p>
					<p></p>
					<p>Welcome to the class of 2020!Get started on your journey over the next four years with Marhaba!</p>
				</div>
			</div>
		</div>

	</div>
<!-- all body content, sidebars would go here -->
</main>

<!-- footer would go here -->
</body>
</html>
