<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Welcome to NYU Abu Dhabi</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/base.css">
    <script src="//use.edgefonts.net/lato.js"></script>
	<script src="../assets/js/scripts.js"></script>
</head>


<body>
<header role="banner">
<!-- main navigation goes here -->

</header>
<main>
    <h3>This is a title </h3>
<!-- all body content, sidebars would go here -->
</main>
<!-- footer would go here -->
</body>
</html>
